body {
  background-color: var(--body-color);
  color: var(--text-color);
  transition: 0.4s;
}

#tsparticles {
  position: relative;
}

.bannerContainer {
  position: absolute;
  top: 8%;
  width: 80%;
  left: 10%;
  padding: 2rem;
}
.hero-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px; /* ensures vertical centering */
}
.profilePic {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  transition: transform 0.5s ease, box-shadow 0.5s ease, border 0.5s ease;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.05)
  );
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
  border: 5px solid rgba(255, 255, 255, 0.3);
}

#hero {
  background-image: linear-gradient(
      54deg,
      rgba(74, 76, 179, 0.95) 34%,
      rgba(36, 16, 169, 0.95)
    ),
    url("../../../img/origin.jpg");
  background-repeat: no-repeat;
  background-position: center;
  min-height: 600px;
  background-size: cover;
}

.hero-details {
  margin-top: 40px;
}

.site-btn {
  background-color: #eb3e1f;
  height: 50px;
  border-radius: 10px;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 15px;
  min-width: 150px;
  text-align: center;
  display: inline-block;
  color: #fff !important;
  font-weight: 600;
  overflow: hidden;
  text-decoration: none;
  margin-top: 10px;
}

.personal-profile__name {
  font-size: 44px;
  line-height: 50px;
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 10px;
}

.personal-profile__work {
  font-size: 20px;
  line-height: 24px;
}

.personal-profile__social {
  display: flex;
  gap: 15px;
}

.personal-profile__social a {
  font-size: 1.8rem;
  transition: transform 0.3s, color 0.3s;
  margin-left: 15px;
}

/* Brand Colors */
.social-icon.github {
  color: #181717;
}
.social-icon.linkedin {
  color: #0a66c2;
}
.social-icon.instagram {
  color: #e1306c;
}
.social-icon.facebook {
  color: #1877f2;
}

/* Hover Effects */
.social-icon:hover {
  transform: scale(1.2);
  filter: brightness(1.2);
  cursor: pointer;
}

.bannerDiscription {
  margin-top: 15px;
}

@media only screen and (max-width: 768px) {
  .personal-profile__social a {
    font-size: 2.4rem !important;
    margin-bottom: 20px;
  }
  .hero-img-container {
    min-height: auto;
    margin-top: 2rem;
  }
  .hero-details,
  .col-md-6 {
    text-align: center;
  }

  #tsparticles {
    position: relative;
    height: 130vh;
  }
  .bannerContainer {
    width: 100%;
    left: 0% !important;
  }

  .bannerDiscription p {
    font-size: 1.5rem;
    
  }

  .site-btn {
    height: 2.6rem;
    min-width: 8rem !important;
    font-size: 15px;
    padding: 0.5rem;
    margin-top: 15px;
  }
}
