body {
  background-color: var(--body-color);
  color: var(--text-color);
  transition: 0.4s; /* for light mode animation */
}
#tsparticles{
  position: relative;

}
.bannerContainer{
  position: absolute;
  top: 0;
}

#hero {
  background-image: linear-gradient(
      54deg,
      rgba(74, 76, 179, 0.95) 34%,
      rgba(36, 16, 169, 0.95)
    ),
    url("../../../img/origin.jpg");
  background-repeat: no-repeat;
  background-position: right;
  min-height: 600px;
  background-size: cover;
}
.hero-details {
  margin-top: 40px;
}

.site-btn {
  /* background-image: linear-gradient(orange , tomato); */
  background-color: #eb3e1f;
  height: 50px;
  border-radius: 10px;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 15px;
  min-width: 170px;
  text-align: center;
  display: inline-block;
  color: #fff !important;
  font-weight: 600;
  overflow: hidden;
  text-decoration: none;
  margin-top: 20px;
}

.profilePic {
  /* max-width: 100%; */
  /* max-height: 70%; */
  /* height: auto;
  top: 90px;
  position: relative;
  border-radius: 38% 62% 60% 40% / 85% 64% 36% 15%; */
  /* clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%); */
  position: absolute;
  top: 20%;
  right: 5%;

}
.row{
  position: relative;
}
.personal-profile__name {
  font-size: 44px;
  line-height: 50px;
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 10px;
  /* text-align: start; */
}

.personal-profile__work {
  font-size: 20px;
  line-height: 24px;
  /* text-align: start; */
}
.personal-profile__social a {
  font-size: 24px;
  margin-right: 15px;
  opacity: 0.4;
  color: rgb(25, 101, 243)!important;
  /* color: #eb3e1f; */
  opacity: 1;
  /* transition: 0.5s ease; */
}
.personal-profile__social i:hover {
  opacity: 1;
  transition: all 0.5s;
  color: #eb3e1f;
  /* transform: translate(20px); */
}
.bannerDiscription {
  /* text-align: start; */
}

@media only screen and (max-width: 600px) {
  .hero-details {
    margin: 0%;
  }
  .personal-profile__name {
    font-size: x-large;
    font-weight: 700;
    margin: 0%;
    margin-top: 15%;
  }
  .personal-profile__work {
    font-size: medium;
    margin: 0%;
  }
  .bannerDiscription {
    font-size: small;
  }
  .hero-details {
    margin: 0% !important;
  }
  .profilePic {
    /* top: 0px; */
    max-width: 80%;
    max-height: 65%;
    top: 95%;
    margin-top: 1.5rem !important;
    margin-right: 27%;
  }
  .site-btn{
    height: 2rem;
    min-width: 6rem !important;
    font-size: xx-small;
    margin: 0% !important;
    padding-top: 2% !important;

  }
  
}
