.mainPg {
  margin-top: 3rem;
}
.mainPg button {
  background-color: white;
  margin-right: 15px;
  color: black;
  padding: 3px;
  border: 1px solid antiquewhite;
}
.mainPg .selected {
  color: black;
  background-color: blueviolet;
}
.projectsContainer {
  margin-bottom: 15%;
}

